.btn {
  text-transform: lowercase;
  &.btn-primary {
    background: #ff5e47;
    border-color: #ff5e47;
    color: #fff;
    margin-bottom: 4px;

    &:hover,
    &:active {
      background: darken(#ff5e47, 10%);
      border-color: darken(#ff5e47, 10%);
      color: #fff;
    }
  }
  &.btn-secondary {
    color: #212529;
    background-color: #a5d6d7;
    border-color: #a5d6d7;
    margin-bottom: 4px;

    &:hover,
    &:active {
      background: darken(#a5d6d7, 10%);
      border-color: darken(#a5d6d7, 10%);
      color: #fff;
    }
  }
}
