.btn {
  text-transform: lowercase;
  &.btn-primary {
    background: #284B63;
    border-color: #284B63;
    color: #fff;
    margin-bottom: 4px;
    border-radius: 5px;

    &:hover,
    &:active {
      background: lighten(#284B63, 10%);
      border-color: lighten(#284B63, 10%);
      color: #fff;
    }
  }
  &.btn-secondary {
    color: #ffff;
    background-color: #3C6E71;
    border-color: #3C6E71;
    margin-bottom: 4px;
    border-radius: 5px;

    &:hover,
    &:active {
      background: lighten(#3C6E71, 10%);
      border-color: lighten(#3C6E71, 10%);
      color: #fff;
    }
  }
}
